{% extends 'greetings/base.html' %}

{% block title %}Statistics for {{ name }}{% endblock %}

{% block content %}
    <div class="header header-green">Statistics for {{ name }}</div>
    <h3 class="text-red">Greetings log:</h3>
    {% if greetings %}
        <ul>
            {% for greeting in greetings %}
                <li>{{ greeting.timestamp }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No greetings found for {{ name }}.</p>
    {% endif %}
    <a href="{% url 'stats' %}">Go to general stats</a>
    <a href="/" class="link-green">Go back to home page</a>
{% endblock %}